@import "../../_globalColor";

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  color: skyblue;
  text-align: center;
}

.software-skill-inline {
  display: inline-flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 4.5rem;
}

.software-skill-inline > .iconify:hover {
  color: $skillsColor;
}

.software-skill-inline > p {
  color: white;
  font-size: 14px;
}
.software-skill-inline > .iconify:hover ~ p {
  color: $skillsColor;
}
